<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile>

        <div class="example-form">

            <div class='AboveLabel'>
                Promeni lozinku
            </div>
            
            <div [class.error]="message">{{message}}</div>

            <!--STARA LOZINKA-->
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="password" placeholder="Stara lozinka" [(ngModel)]="oldpassword">
            </mat-form-field>

            <!--NOVA LOZINKA-->
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="password" placeholder="Nova lozinka" [(ngModel)]="newpassword">
            </mat-form-field>

            <!--NOVA LOZINKA POTVRDA-->
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="password" placeholder="Potvrda nove lozinke" [(ngModel)]="newconfirmation">
            </mat-form-field>

            <button mat-raised-button color="accent" class="example-full-width" (click)="changePassword()">
                    Promeni lozinku
            </button>
            </div>
    </mat-grid-tile>
</mat-grid-list>