.canvas{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    margin-left: 20%;
    margin-bottom: 30px;
}
h2{
    font-size: 30px;
}

#divider{
    border: 5px solid #673ab7;
}

.form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 30px;
    margin-left: 30%;
   height: 700px;
}

button{
    font-size: 18px;
}