<app-menu [logged]="logged"></app-menu>
<mat-divider id="divider"></mat-divider>
<mat-divider></mat-divider>
<div [style.text-align]="'center'">
    <h2 [style.margin-top]="'20px'">Zahtevi za posao</h2>
</div>
<table #MatTable mat-table [dataSource]="newRequests" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Klijent</th>
        <td mat-cell *matCellDef="let element">
            {{element.user.firstname}} <br />
            {{element.user.lastname}} <br />
            {{element.user.phone}} <br />
            {{element.user.email}} <br />
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
    </ng-container>

    <!-- Adresa Column -->
    <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef> Adresa </th>
        <td mat-cell *matCellDef="let element"> {{element.street}} {{element.streetNum}} {{element.city}}
            {{element.state}}</td>
    </ng-container>

    <ng-container matColumnDef="rooms">
        <th mat-header-cell *matHeaderCellDef> Broj soba </th>
        <td [style.text-align]="'center'" mat-cell *matCellDef="let element"> 
            {{element.rooms}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Kvadratura </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tip </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="jobs">
        <th mat-header-cell [style.text-align]="'center'" *matHeaderCellDef> Poslovi </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.jobs.length>0">
                <table #MatTableInside mat-table [dataSource]="element.jobs" class="mat-elevation-z8" id="tableInside">

                    <ng-container matColumnDef="jobID">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element2"> {{element2.jobID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status posla</th>
                        <td mat-cell *matCellDef="let element2"> {{element2.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="datumOD">
                        <th mat-header-cell *matHeaderCellDef> Pocetak </th>
                        <td mat-cell *matCellDef="let element2"> {{element2.datumOD}} </td>
                    </ng-container>
                    <ng-container matColumnDef="datumDO">
                        <th mat-header-cell *matHeaderCellDef> Kraj </th>
                        <td mat-cell *matCellDef="let element2"> {{element2.datumDO}} </td>
                    </ng-container>
                    <ng-container matColumnDef="response">
                        <th mat-header-cell *matHeaderCellDef> Odgovor agencije </th>
                        <td mat-cell *matCellDef="let element2" [class.green]="element2.odgovorAgencije=='Prihvatila'"
                            [class.red]="element2.odgovorAgencije=='Odbila'">
                            {{element2.odgovorAgencije}}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="offer">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element2" [style.padding]="'10px'">
                            <mat-form-field *ngIf="element2.odgovorAgencije=='Nije odgovorila'" class="example-full-width" appearance="fill">
                                <mat-label>Ponuda</mat-label>
                                <input matInput type="number" placeholder="Unesite cenu" [(ngModel)]="offer">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="accept">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element2" [style.padding-left]="'10px'">
                            <button *ngIf="element2.odgovorAgencije=='Nije odgovorila'" color="primary" mat-raised-button [style.margin]="'0'" (click)="sendOffer(element.idO,element2.jobID)">Prihvati zahtev</button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="reject">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element2">
                            <button *ngIf="element2.odgovorAgencije=='Nije odgovorila'" color="warn" mat-raised-button [style.margin]="'0'" (click)="reject(element.idO,element2.jobID)">Odbij zahtev</button>
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRequestsInside"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRequestsInside;"></tr>
                </table>
            </div>
            <div *ngIf="element.jobs.length==0">
                Nema poslova
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsRequests"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsRequests;"></tr>
</table>

<mat-divider id="divider"></mat-divider>
<div [style.text-align]="'center'">
    <h2 [style.margin-top]="'20px'">Aktivni poslovi</h2>
</div>
<table #MatTable2 mat-table [dataSource]="active" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Klijent</th>
        <td mat-cell *matCellDef="let element">
            {{element.user.firstname}} <br />
            {{element.user.lastname}} <br />
            {{element.user.phone}} <br />
            {{element.user.email}} <br />
        </td>
    </ng-container>

    <!-- Adresa Column -->
    <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef> Adresa </th>
        <td mat-cell *matCellDef="let element"> {{element.street}} {{element.streetNum}} {{element.city}}
            {{element.state}}</td>
    </ng-container>

    <ng-container matColumnDef="rooms">
        <th mat-header-cell *matHeaderCellDef> Broj soba </th>
        <td [style.text-align]="'center'" mat-cell *matCellDef="let element"> 
            {{element.rooms}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Kvadratura </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tip </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="jobs">
        <th mat-header-cell [style.text-align]="'center'" *matHeaderCellDef> Poslovi </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.jobs.length>0">
                <table #MatTableInside mat-table [dataSource]="element.jobs" class="mat-elevation-z8" id="tableInside">

                    <ng-container matColumnDef="jobID">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element2"> {{element2.jobID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status posla</th>
                        <td mat-cell *matCellDef="let element2"> {{element2.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="datumOD">
                        <th mat-header-cell *matHeaderCellDef> Pocetak </th>
                        <td mat-cell *matCellDef="let element2"> {{element2.datumOD}} </td>
                    </ng-container>
                    <ng-container matColumnDef="datumDO">
                        <th mat-header-cell *matHeaderCellDef> Kraj </th>
                        <td mat-cell *matCellDef="let element2"> {{element2.datumDO}} </td>
                    </ng-container>
                    <ng-container matColumnDef="response">
                        <th mat-header-cell *matHeaderCellDef> Odgovor agencije </th>
                        <td mat-cell *matCellDef="let element2" [class.green]="element2.odgovorAgencije=='Prihvatila'"
                            [class.red]="element2.odgovorAgencije=='Odbila'">
                            {{element2.odgovorAgencije}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="showProgress">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element2" [style.padding]="'10px'">
                            <button *ngIf="element2.status=='aktivan'"
                            color="accent" mat-raised-button [style.margin]="'0'" 
                            (click)="showProgress(element.sketch,element.idO,element2.jobID,element2.agency,element2.datumOD,element2.datumDO)">Prikazi napredak</button>
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsActiveInside"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsActiveInside;"></tr>
                </table>
            </div>
            <div *ngIf="element.jobs.length==0">
                Nema poslova
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsActive"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsActive;"></tr>
</table>