mat-grid-tile-header {
    font-size: 30px;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-grid-tile-footer {
    font-size: 30px;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.AboveLabel{
  justify-content: center;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #673ab7;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.error{
    color: red;
    font-size: 18px;
    justify-content: center;
    text-align: center;    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 20px;
}

.example-form {
    display: flex;
    width: 25%;
    flex-direction: column;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 18px;
  }

  button{
    font-size: 18px;
  }